@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root{
    --blue-color: #467bff;
    --white-color: #FFFFFF;
    --heading-color: #003459;
    --background-color: #0075FF;
    --card-color: #F5F7F7;
    --font-heading-oswald: 'Oswald';
    --font-description-plusjakarta: 'Plus Jakarta Sans';
}


/* navbar section */
.top-bar {
    background-color: var(--heading-color);
    color: var(--white-color);
    font-size: 0.8rem;
}

.location-text{
    font-size: 15px;
    font-weight: 400;
    font-style: 'regular';
    font-family: var(--font-description-plusjakarta);
    color: var(--white-color);
}

.navbar-nav .nav-link {
    color: var(--heading-color);
    font-family: var(--font-heading-oswald);
    font-weight: 600;
    font-size: 19px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-right: 15px;
    transition: color 0.3s;
}

.navbar-nav .nav-link:hover {
    color: var(--background-color);
}

.logo-box {
    color: var(--white-color); 
    height: 80px;
}

.custom-btn {
    width: 190px;
    height: 60px;
    background-color: var(--blue-color);
    color: var(--white-color);
    font-family: var(--font-heading-oswald);
    font-style: 'demibold';
    font-weight: 600;
    font-size: 17px;
    border: none;
    border-radius: 13px;
    padding: 8px 25px;
    transition: all 0.5s;
    margin-right: 10%;
}

.custom-btn:hover {
    background-color: var(--blue-color);
    color: var(--white-color);
    border: 3px solid var(--heading-color);
}

@media (max-width: 425px) {
    .navbar {
        background-color: var(--background-color) !important;
        /* height: 120px; */
        /* gap: 10px; */
    }
    
    .logo-box img{
        width: 250px;
        border: none;
        height: 80px;
        transform: translateX(-30px);
    }

    .navbar-toggler-icon {
        background-image: url(../images/toogler-button-mobile.png);
        width: 40px;
        height: 45px;
        border: none;
    }
    
    .navbar-collapse.show {
        /* margin-top: 5%; */
        background-color: var(--white-color);
        width: 100%;
    }

    .mobile-nav-info {
        background-color: var(--heading-color);
        padding: 1rem;
    }

    .mobile-nav-info .location-text {
        color: var(--white-color);
        display: flex;
        margin-bottom: 1rem;
    }

    .navbar-collapse.show .navbar-nav .nav-link {
        color: var(--heading-color); 
        padding-left: 2rem;
        display: flex;
    }

    .navbar-collapse.show .custom-btn {
        margin: 1rem 0 1rem 2rem;
    }
}

@media (max-width: 375px) {
    .navbar {
        background-color: var(--background-color) !important;
        /* height: 120px; */
        /* gap: 10px; */
    }
    
    .logo-box img{
        width: 190px;
        border: none;
        /* height: 80px; */
        /* transform: translateX(-30px); */
    }

    .navbar-toggler-icon {
        background-image: url(../images/toogler-button-mobile.png);
        width: 40px;
        height: 45px;
        border: none;
    }
    
    .navbar-collapse.show {
        /* margin-top: 5%; */
        background-color: var(--white-color);
        width: 100%;
    }

    .mobile-nav-info {
        background-color: var(--heading-color);
        padding: 1rem;
    }

    .mobile-nav-info .location-text {
        color: var(--white-color);
        display: flex;
        margin-bottom: 1rem;
    }

    .navbar-collapse.show .navbar-nav .nav-link {
        color: var(--heading-color);
        padding-left: 2rem;
        display: flex;
    }

    .navbar-collapse.show .custom-btn {
        margin: 1rem 0 1rem 2rem;
    }
}


/* hero section */
.hero-section {
    background-image: url(../images/hero-circle-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 700px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.hero-image-container {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.woman-image {
    max-height: 100%;
    object-fit: cover;
    z-index: 1;
}

.hero-heading-text{
    font-family: var(--font-heading-oswald);
    font-weight: 600;
    font-style: 'Demibold';
    font-size: 84px;
    color: var(--white-color);
    line-height: 99px;
    letter-spacing: -2px;
    text-transform: uppercase;    
}

.text-heading-hero{
    font-family: var(--font-heading-oswald);
    font-weight: 600;
    font-style: 'Demibold';
    font-size: 84px;
    color: var(--blue-color);
    line-height: 99px;
    letter-spacing: -2px;
    text-transform: uppercase;
}

.hero-text-description{
    font-family: var(--font-description-plusjakarta);
    font-weight: 400;
    font-style: 'regular';
    font-size: 21px;
    color: var(--white-color);
    line-height: 32px;
}

.custom-btn-hero {
    width: 190px;
    height: 60px;
    background-color: var(--blue-color);
    color: var(--white-color);
    font-family: var(--font-heading-oswald);
    font-style: 'demibold';
    font-weight: 600;
    font-size: 17px;
    border: none;
    border-radius: 13px;
    padding: 8px 25px;
    transition: all 0.5s;
    margin-right: 10%;
}

.custom-btn-hero:hover {
    background-color: var(--heading-color);
    color: var(--white-color);
    border: 3px solid var(--white-color);
}

.stat-card {
    position: absolute;
    background-color: var(--card-bg);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    z-index: 2;
    /* border: 1px solid rgba(255, 255, 255, 0.3);  */
}

.card-left {
    top: 60%;
    left: 15%;
    transform: translate(-40%, 20%);
    width: 225px;
    height: 142px;
    padding: 10px;
}

.stat-title{
    font-family: var(--font-heading-oswald);
    font-weight: 600;
    font-style: 'Demibold';
    font-size: 62px;
    color: var(--white-color);
    line-height: 80px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.stat-subtitle{
    font-family: var(--font-description-plusjakarta);
    font-weight: 200;
    font-style: 'Regular';
    font-size: 16px;
    color: var(--white-color);
    line-height: 32px;
}

.card-right {
    top: 50%;
    right: 5%;
    transform: translate(-40%, 40%);
    width: 220px;
    padding: 10px;
}

@media (max-width: 425px) {
    .hero-section {
        background-image: url(../images/hero-circle-background.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: auto;
        overflow: hidden;
        padding-top: 100px;
    }

    .hero-content {
        text-align: start;
        margin-left: 0 !important;
        padding: 0 20px;
    }

    .hero-heading-text, .text-heading-hero {
        font-size: 50px;
        line-height: 130%;
        letter-spacing: -2.09px;
    }

    .responsive-break {
        display: none;
    }

    .custom-btn-hero {
        margin: 40px 0 20px 0;
    }

    .hero-image-container {
        height: 500px;
    }
    
    .card-left {
        top: 65%;
        left: 20%; 
        transform: translate(-50%, 0);
        width: 150px;
        height: 90px;
    }
    
    .card-right {
        top: 60%;
        right: 10%; 
        transform: translate(0, 0); 
        width: 150px;
        height: 90px;
    }

    .card-right .stat-title{
        font-size: 36px;
        line-height: 39px;
        letter-spacing: -0.71px;
        padding: 0px 17px 12px 0px;
    }

    .card-right .stat-subtitle{
        font-size: 10px;
        line-height: 39px;
        letter-spacing: -0.71px;
        margin-left: 0px;
        margin-top: -20px;
    }

    .stat-title {
        font-size: 36px;
        line-height: 39px;
        letter-spacing: -0.71px;
        padding: 11px 17px 12px 17px;
    }

    .stat-subtitle{
        font-size: 10px;
        line-height: 18px;
        margin-left: 17px;
        margin-top: -10px;
    }
}

@media (max-width: 375px) {
    .hero-section {
        background-image: url(../images/hero-circle-background.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 960px;
        overflow: hidden;
        padding-top: 100px;
    }

    .hero-content {
        text-align: start;
        margin-left: 0 !important;
        padding: 0 20px;
    }

    .hero-heading-text, .text-heading-hero {
        font-size: 38px;
        line-height: 130%;
        letter-spacing: -2.09px;
    }

    .responsive-break {
        display: none;
    }

    .hero-text-description{
        font-size: 16px;
        font-weight: 300;
    }

    .custom-btn-hero {
        margin: 0 0 0 0;
    }

    .hero-image-container {
        height: 550px;
    }
    
    .card-left {
        top: 65%;
        left: 20%; 
        transform: translate(-50%, 0);
        width: 100px;
        height: 80px;
    }
    
    .card-right {
        top: 54%;
        right: 10%; 
        transform: translate(0, 0); 
        width: 120px;
        height: 80px;
    }

    .card-right .stat-title{
        font-size: 28px;
        line-height: 39px;
        letter-spacing: -0.71px;
        padding: 0px 17px 12px 0px;
    }

    .card-right .stat-subtitle{
        font-size: 9px;
        line-height: 39px;
        letter-spacing: -0.71px;
        margin-left: 0px;
        margin-top: -25px;
    }

    .stat-title {
        font-size: 28px;
        line-height: 39px;
        letter-spacing: -0.71px;
        padding: 0px 17px 12px 6px;
    }

    .stat-subtitle{
        font-size: 8px;
        line-height: 18px;
        margin-left: 6px;
        margin-top: -12px;
    }
}


/* about us section */
.why-choose-section {
    background-color: white;
}

.small-heading {
    color: var(--blue-color);
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0px;
    font-size: 16px;
    line-height: 16px;
    font-style: 'DemiBold';
    font-family: var(--font-heading-oswald);
}

.main-heading {
    width: 600px;
    font-family: var(--font-heading-oswald);
    color: var(--heading-color);
    font-weight: 600;
    font-size: 63px;
    font-style: 'DemiBold';
    line-height: 70px;
    letter-spacing: -2px;
    margin-left: 28%;
    text-transform: uppercase;
}

.about-heading-part-2{
    color: var(--background-color);
}

.custom-card {
    background-color: var(--card-color);
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
    height: 100%;
}

.card-title {
    color: var(--heading-color);
    font-weight: 600;
    font-family: var(--font-heading-oswald);
    font-size: 30px;
    font-style: 'DemiBold';
    line-height: 36px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.card-text {
    color: var(--heading-color);
    font-size: 19px;
    font-family: var(--font-description-plusjakarta);
    font-weight: 400;
    font-style: 'regular';
    line-height: 32px;
}

.icon-bg {
    background-color: var(--blue-color);
    width: 84px;
    height: 84px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 425px) {
    .main-heading {
        width: 370px;
        font-size: 40px;
        line-height: 45px;
        letter-spacing: -1px;
        margin-left: 20px;
        padding: 0 15px;
    }

    .custom-card {
        margin-bottom: 20px;
    }

    .icon-bg{
        border-radius: 13px;
    }
}

@media (max-width: 375px) {
    .main-heading {
        width: 310px;
        font-size: 34px;
        line-height: 45px;
        letter-spacing: -1px;
        margin-left: 25px;
        padding: 0 15px;
    }

    .custom-card {
        margin-bottom: 20px;
    }

    .icon-bg{
        border-radius: 13px;
    }
}

@media (max-width: 320px) {
    .main-heading {
        width: 310px;
        font-size: 34px;
        line-height: 45px;
        letter-spacing: -1px;
        margin-left: 0px;
        padding: 0 15px;
    }

    .custom-card {
        margin-bottom: 20px;
    }

    .icon-bg{
        border-radius: 13px;
    }
}


/* aboutus section - 2 */
.text-box-for-aboutus-222222{
    margin-left: 3%;
}

.image-box { 
    position: relative;
    background-color: transparent;
}

.image-box::before { 
    content: ''; position: absolute; top: -20px; left: -40px; width: 50%; height: 70%; 
    background: linear-gradient(180deg, #467bff, rgba(42, 74, 153, 0)); 
    border-radius: 20px; z-index: -1; 
}

.about-text-small-2 {
    font-family: var(--font-heading-oswald);
    font-weight: 600;
    font-size: 17px;
    text-transform: uppercase;
    color: var(--blue-color);
}

.about-text-large-2 {
    max-width: 490px;
    font-family: var(--font-heading-oswald);
    font-weight: 600;
    font-size: clamp(32px, 5vw, 62px);
    line-height: 1.1;
    text-transform: uppercase;
    color: var(--heading-color);
}

.about-text-large-2-2{
    color: var(--blue-color);
}

.about-description-222 {
    width: 500px;
    font-family: var(--font-description-plusjakarta);
    font-size: 19px;
    font-weight: 400;
    line-height: 1.6;
    color: var(--heading-color);
}

.button-aboutus-part-22 {
    width: 210px;
    height: 68px;
    background-color: #003459;
    color: var(--white-color);
    border-radius: 13px;
    font-family: var(--font-heading-oswald);
    font-weight: 600;
    font-style: 'DemiBold';
    font-size: 17px;
    line-height: 17px;
    text-transform: uppercase;
    border: none;
}

.button-aboutus-part-22:hover {
    background-color: var(--white-color);
    color: var(--heading-color);
    border: 4px solid var(--heading-color);
}

.aboutus-2-back {
    width: 100%;
    height: auto;
    max-width: 600px;
}

.overlay-card {
    width: 330px;
    height: 220px;
    position: absolute;
    bottom: 40px;
    left: 42%;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.98); 
}

@media (max-width: 425px) {
    .image-box{
        margin-top: 15%;
    }

    .text-box-for-aboutus-222222{
        margin-top: -20%;
    }

    .image-box::before { 
        left: 5px;
        width: 224px;
        height: 267px;
    }

    .aboutus-2-back{
        width: 360px;
        height: 371px;
    }
    
    .about-text-small-2 { 
        text-align: start;
        margin-left: 10px;
        font-size: 17px;
        font-style: 'DemiBold';
        line-height: 17px; 
    }

    .overlay-card{
        width: 200px;
        height: 140px;
        bottom: 40px;
    }
    
    .about-text-large-2{
        width: 330px;
        font-style: 'DemiBold';
        line-height: 120%;
        letter-spacing: -1.26px;
        font-size: 40px;
        text-align: start;
        margin-left: 10px;
    }

    .about-description-222{
        width: 350px;
        font-size: 19px;
        font-family: var(--font-description-plusjakarta);
        font-style: 'Regular';
        line-height: 150%;
        margin-left: 10px;
    }
    
    .button-aboutus-part-22{
        margin-top: 30px;
        margin-left: 10px;
        margin-bottom: 20px;
    }
}

@media (max-width: 375px) {
    .image-box::before { 
        left: 5px;
        width: 194px;
        height: 267px;
    }

    .aboutus-2-back{
        width: 320px;
        height: 371px;
    }
    
    .about-text-small-2 { 
        text-align: start;
        margin-left: 10px;
        font-size: 17px;
        font-style: 'DemiBold';
        line-height: 17px; 
    }

    .overlay-card{
        width: 190px;
        height: 140px;
        bottom: 30px;
    }
    
    .about-text-large-2{
        width: 330px;
        font-style: 'DemiBold';
        line-height: 120%;
        letter-spacing: -1.26px;
        font-size: 40px;
        text-align: start;
        margin-left: 10px;
    }

    .about-description-222{
        width: 330px;
        font-size: 19px;
        font-family: var(--font-description-plusjakarta);
        font-style: 'Regular';
        line-height: 150%;
        margin-left: 10px;
    }
    
    .button-aboutus-part-22{
        margin-top: 20px;
        margin-left: 10px;
        margin-bottom: 30px;
    }
}

@media (max-width: 320px) {
    .image-box::before { 
        left: 5px;
        width: 174px;
        height: 250px;
    }

    .aboutus-2-back{
        width: 270px;
        height: 330px;
    }
    
    .about-text-small-2 { 
        text-align: start;
        margin-left: 10px;
        font-size: 17px;
        font-style: 'DemiBold';
        line-height: 17px; 
    }

    .overlay-card{
        width: 160px;
        height: 120px;
        bottom: 35px;
    }
    
    .about-text-large-2{
        width: 330px;
        font-style: 'DemiBold';
        line-height: 120%;
        letter-spacing: -1.26px;
        font-size: 40px;
        text-align: start;
        margin-left: 10px;
    }

    .about-description-222{
        width: 280px;
        font-size: 18px;
        font-family: var(--font-description-plusjakarta);
        font-style: 'Regular';
        line-height: 140%;
        margin-left: 10px;
    }
    
    .button-aboutus-part-22{
        width: 190px;
        height: 60px;
        margin-top: 10px;
        margin-left: 10px;
        margin-bottom: 40px;
    }
}


/* aboutus section 3 */
.aboutus-3-sec{
    background-color: var(--card-color);
    border-radius: 21px;
    color: #003459;
}

.aboutus-sec-3-number{
    font-family: var(--font-heading-oswald);
    font-weight: 600;
    font-style: 'DemiBold';
    font-size: 83px;
    line-height: 90px;
    text-transform: uppercase;
}

.aboutus-sec-3-plus{
    color: var(--blue-color);
}

.aboutus-sec-3-small-heading{
    font-family: var(--font-heading-oswald);
    font-weight: 600;
    font-style: 'DemiBold';
    font-size: 26px;
    line-height: 32px;
    letter-spacing: -0.5px;
    text-transform: uppercase;
    color: var(--heading-color);
}

.aboutus-sec-3-small-description{
    font-family: var(--font-description-plusjakarta);
    font-weight: 400;
    font-style: 'Regular';
    font-size: 19px;
    line-height: 32px;
    color: var(--heading-color);
}

.stat-item {
    position: relative;
}   

.stat-item::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 160px;
    width: 2px;
    background-color: #D7DEDE;
}

.stat-item:last-child::after {
    display: none;
}

.stat-item .text-center {
    text-align: center !important;
}

@media (max-width: 425px) {
    .aboutus-3-sec{
        margin-top: -25%;
        background-color: var(--card-color);
        box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.15);
    }

    .aboutus-sec-3-number{
        font-size: 55.5px;
        letter-spacing: -1.11px;
        line-height: 59.39px;
        text-transform: uppercase;
        font-family: var(--font-heading-oswald);
        text-align: center;
    }

    .aboutus-sec-3-small-heading{
        font-size: 16.65px;
        letter-spacing: -0.33px;
        line-height: 20.81px;
    }

    .aboutus-sec-3-small-description{
        font-size: 12.49px;
        line-height: 20.81px;
    }

    .stat-item::after {
        display: none;
    }

    .stat-item {
        border-bottom: 2px solid #D7DEDE;
        padding-bottom: 20px;
        margin-bottom: 20px;
    }

    .stat-item:last-child {
        border-bottom: none;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .stat-item .text-center {
        text-align: center !important;
    }
}

@media (max-width: 320px) {
    .aboutus-3-sec{
        margin-top: -30%;
        background-color: var(--card-color);
        box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.15);
    }

    .aboutus-sec-3-number{
        font-size: 55.5px;
        letter-spacing: -1.11px;
        line-height: 59.39px;
        text-transform: uppercase;
        font-family: var(--font-heading-oswald);
        text-align: center;
    }

    .aboutus-sec-3-small-heading{
        font-size: 15px;
        letter-spacing: -0.33px;
        line-height: 20.81px;
    }

    .aboutus-sec-3-small-description{
        font-size: 12.49px;
        line-height: 20.81px;
    }
}


/* our process section */
.small-headin-our-process {
    font-family: var(--font-heading-oswald);
    font-weight: 600;
    font-style: 'DemiBold';
    font-size: 17px;
    line-height: 17px;
    text-transform: uppercase;
    color: var(--blue-color);
    margin-bottom: 0.5rem;
}

.main-heading-our-process {
    font-family: var(--font-heading-oswald);
    font-weight: 600;
    font-style: 'DemiBold';
    font-size: 63px;
    line-height: 70px;
    text-transform: uppercase;
    color: var(--heading-color);
    width: 520px;
}

.main-heading-process-succ{
    color: var(--blue-color);
}

.arrow-btn {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 1px solid var(--card-color);
    background-color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: al 0.3s, ease;
}

.arrow-right-rotate{
    transform: rotate(180deg);
}

.arrow-btn:hover {
    background-color: var(--blue-color);    
}

.arrow-btn:hover img {
filter: brightness(0) invert(1);
}

.arrow-left:hover img {
transform: rotate(360deg);
}

.arrow-right:hover img {
transform: rotate(180deg);
}

.slider-container {
    margin-left: 8%;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
    touch-action: pan-x;
}

.slider-container::-webkit-scrollbar {
    display: none;
}

.card-item {
    min-width: 400px;
    flex: 0 0 auto;
}

.card-content {
    position: relative;
    border-radius: 21px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.card-content img {
    display: block;
    width: 100%;
    height: auto;
}

.hover-card {
    position: absolute;
    bottom: 20px;
    left: 15px;
    right: 0;
    background-color: var(--white-color);
    padding: 15px;
    width: 350px;
    border-radius: 21px;
    transform: translateY(120%);
    transition: all 0.4s ease;
    box-shadow: 0 -4px 6px rgba(0,0,0,0.05);
}

.card-content.active .hover-card {
transform: translateY(0);
}

/* .card-content:hover .hover-card {
    transform: translateY(0);
} */

.hover-card h6 {
    font-family: var(--font-heading-oswald);
    font-weight: 600;
    font-style: 'DemiBold';
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -0.59px;
    text-transform: uppercase;
    color: var(--heading-color);
    margin-bottom: 0.5rem;
}

.hover-card p {
    font-family: var(--font-description-plusjakarta);
    font-weight: 400;
    font-style: 'Regular';
    font-size: 17px;
    line-height: 130%;
    color: var(--heading-color);
    margin-bottom: 0.5rem;
    width: 290px;
}

.arrow-icon {
    position: absolute;
    right: 25px;
    top: 145px;
    color: var(--blue-color);
    font-size: 1.2rem;
}

@media (max-width: 425px) {
    .card-item {
        min-width: 100%;
        flex: 0 0 90%;
    }

    .header-section .col-md-9 {
        text-align: center;
        margin-left: 0;
        padding-left: 15px;
        padding-right: 15px;
    }

    .small-headin-our-process{
        text-align: start;
        font-size: 18px;
        font-weight: 600;
        margin-left: 10px;
    }

    .main-heading-our-process {
        margin-left: 10px;
        font-size: 42px;
        font-weight: 600;
        line-height: 48px;
        width: 380px;
        text-align: start;
    }

    .header-section .col-md-2 {
        display: none !important;
    }

    .slider-container {
        margin-top: -10%;
        margin-left: 0%;
        touch-action: pan-x;
        /* padding-right: 5%; */
    }

    .hover-card {
        width: 90%;
        left: 5%;
        padding: 30px;
    }

    .hover-card h6 {
        font-size: 24px;
        line-height: 30px;
    }

    .hover-card p {
        width: auto;
        font-size: 15px;
    }

    .arrow-icon {
        right: 15px;
        top: 130px;
    }

    .card-content .hover-card {
        transform: translateY(0);
    }
}

@media (max-width: 425px) {
    .card-item {
        min-width: 100%;
        flex: 0 0 90%;
    }

    .header-section .col-md-9 {
        text-align: center;
        margin-left: 0;
        padding-left: 15px;
        padding-right: 15px;
    }

    .small-headin-our-process{
        text-align: start;
        font-size: 18px;
        font-weight: 600;
        margin-left: 10px;
    }

    .main-heading-our-process {
        margin-left: 10px;
        font-size: 32px;
        font-weight: 500;
        line-height: 38px;
        width: 280px;
        text-align: start;
    }

    .header-section .col-md-2 {
        display: none !important;
    }

    .slider-container {
        margin-top: -15%;
        margin-left: 0%;
        touch-action: pan-x;
        /* padding-right: 5%; */
    }

    .hover-card {
        width: 90%;
        height: 160px;
        left: 5%;
        padding: 30px;
    }

    .hover-card h6 {
        font-size: 14px;
        line-height: 20px;
    }

    .hover-card p {
        width: auto;
        font-size: 14px;
    }

    .arrow-icon {
        right: 15px;
        top: 130px;
    }

    .card-content .hover-card {
        transform: translateY(0);
    }
}


/* process section */
.process-section {
    background-color: #001f4c;
    color: white;
    padding: 80px 0;
    position: relative;
    overflow: hidden;
}

.process-section::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 65%;
    background-image: url('../images/working-process-vector-background.png');
    background-size: 100%;
    background-repeat: no-repeat;
    opacity: 1;
    z-index: 0;
}

.process-content {
    position: relative;
    z-index: 1;
}

.workin-process-small-heading{
    font-family: var(--font-heading-oswald);
    font-weight: 600;
    font-style: 'DemiBold';
    font-size: 17px;
    line-height: 17px;
    color: var(--blue-color);
    text-transform: uppercase;
}

.workin-process-big-heading{
    width: 800px;
    height: auto;
    margin-left: 20%;
    font-family: var(--font-heading-oswald);
    font-weight: 600;
    font-style: 'DemiBold';
    font-size: 63px;
    line-height: 70px;
    letter-spacing: -1.26px;
    color: var(--white-color);
    text-transform: uppercase;
}

.workin-process-big-color{
    color: var(--background-color);
}

.step-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.step-container::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #294F4E;
    z-index: -1;
}

.step-box {
    width: 110px;
    height: 43px;
    font-family: var(--font-heading-oswald);
    font-weight: 600;
    font-style: 'DemiBold';
    font-size: 19px;
    line-height: 21px;
    letter-spacing: -0.38px;
    text-transform: uppercase;
    background-color: var(--blue-color);
    padding: 11px 10px;
    border-radius: 13px;
    display: inline-block;
}

.step-item {
    text-align: center;
    position: relative;
}

.step-item::after {
    content: "";
    position: absolute;
    top: calc(100% + 1px);
    left: 50%;
    transform: translateX(-50%);
    height: 45px;
    width: 2px;
    background-color: #294F4E;
}

.step-text {
    margin-top: -20px;
    padding-top: 15px;
    text-align: left;
    /* margin-left: 1%; */
}

.bottom-text-step-heading{
    font-family: var(--font-heading-oswald);
    font-weight: 600;
    font-style: 'DemiBold';
    font-size: 29px;
    line-height: 36px;
    letter-spacing: -0.59px;
    text-transform: uppercase;
    color: var(--white-color);
    width: 450px;
}

.bottom-text-step-heading-3{
    font-family: var(--font-heading-oswald);
    font-weight: 600;
    font-style: 'DemiBold';
    font-size: 29px;
    line-height: 36px;
    letter-spacing: -0.59px;
    text-transform: uppercase;
    color: var(--white-color);
    width: 450px;
    margin-left: 110px;
}

.bottom-text-step-description{
    width: 300px;
    height: auto;
    font-family: var(--font-description-plusjakarta);
    font-weight: 400;
    font-style: 'Regular';
    font-size: 19px;
    line-height: 31px;
    color: var(--white-color);
}

.bottom-text-step-description-2{
    width: 300px;
    height: auto;
    font-family: var(--font-description-plusjakarta);
    font-weight: 400;
    font-style: 'Regular';
    font-size: 19px;
    line-height: 31px;
    color: var(--white-color);
    margin-left: 70px;
}

@media (max-width: 425px) {
    .process-section .row.mt-5 {
        position: absolute;
        opacity: 0;
        pointer-events: none;
        height: 0;
        overflow: hidden;
        /* padding: 40px 15px; */
    }

    .process-section::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 10%;
        background-image: url('../images/working-process-vector-background.png');
        background-size: 100%;
        background-repeat: no-repeat;
        opacity: 1;
        z-index: 0;
    }

    .workin-process-small-heading {
        text-align: center;
        margin-top: 10%;
    }

    .workin-process-big-heading {
        width: 340px;
        font-size: 40px;
        font-weight: 600;
        font-style: 'DemiBold';
        letter-spacing: -1.26px;
        line-height: 120%;
        text-align: center;
        margin-left: auto !important; 
        margin-right: auto !important;
    }

    .workin-process-big-color{
        color: var(--blue-color);
    }

    .step-container {
        position: relative;
        display: flex !important;
        flex-direction: column;
        gap: 160px;
        align-items: center;
    }
    
    .step-container::before {
        display: none; 
    }

    .step-item {
        width: 100%;
        max-width: 360px;
        margin: 0 auto;
        padding: 30px 20px;
        background: transparent;
        text-align: center;
        position: relative;
    }

    .step-item:nth-child(1)::after {
        /* content: "Discovery & Analysis\A We evaluate existing contracts, services, and infrastructure to identify areas for improvement."; */
        white-space: pre-line;
        display: block;
        margin-top: -30px;
        font-size: 16px;
        line-height: 1.5;
        width: 2px;
        color: #294F4E;
    }

    .step-item:nth-child(2)::after {
        /* content: "Tailored Strategy & Negotiation\A Our experts design a plan that maximizes value, minimizes costs, and ensures scalability."; */
        white-space: pre-line;
        display: block;
        margin-top: -30px;
        font-size: 16px;
        line-height: 1.5;
        color: #294F4E;
    }

    .step-item:nth-child(3)::after {
        /* content: "Implementation\A We work closely with your internal teams to coordinate the rollout of new agreements and systems."; */
        white-space: pre-line;
        display: block;
        margin-top: -30px;
        font-size: 16px;
        line-height: 1.5;
        color: #294F4E;
    }

    .step-item::after {
        content: "";
        display: block !important;
        width: 2px;
        height: 50px;
        background-color: #294F4E;
        /* margin: 20px 0 0; */
        font-weight: 400;
    }

    .step-item::after::first-line {
        font-size: 18px;
        font-weight: 600;
        text-transform: uppercase;
        display: block;
        margin-bottom: 10px;
    }

    .step-text {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 90px;
        width: 100%;
        max-width: 320px;
        text-align: center;
        opacity: 1;
        pointer-events: auto;
        margin-top: 20px !important;
        margin-bottom: 40px;
        display: flex;
    }

    .step-item:nth-child(1) .step-text {
        display: block;
    }

    .step-item:nth-child(2) .step-text {
        display: block;
    }

    .step-item:nth-child(3) .step-text {
        display: block;
    }

    .step-item:nth-child(1)::after,
    .step-item:nth-child(2)::after,
    .step-item:nth-child(3)::after {
        display: none;
    }

    .step-item:nth-child(1) {
        --step-index: 1;
    }

    .step-item:nth-child(2) {
        --step-index: 2;
    }

    .step-item:nth-child(3) {
        --step-index: 3;
    }

    .step-item {
        position: relative;
    }

    .step-text:nth-child(1),
    .step-text:nth-child(2),
    .step-text:nth-child(3) {
        position: absolute;
        top: 90px;
        left: 50%;
        transform: translateX(-50%);
    }

    .bottom-text-step-heading, 
    .bottom-text-step-heading-3,
    .bottom-text-step-description, 
    .bottom-text-step-description-2 {
        width: 100% !important;
        text-align: center !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .mobile-button {
        background-color: var(--blue-color); 
        border-color: #467bff; 
        border-radius: 8px;
        padding: 10px 20px;
        text-transform: uppercase;
        margin-top: 15px;
        display: inline-block;
        width: 100%;
        max-width: 200px;
        margin: 20px auto 0;
        font-size: 14px;
        font-weight: 600;
    }
}


/* our team section */
.our-team-main-small-heading {
    font-family: var(--font-heading-oswald);
    font-weight: 500;
    font-style: 'DemiBold';
    font-size: 18px;
    line-height: 17px;
    color: var(--blue-color);
    text-transform: uppercase;
}

.our-team-main-big-heading {
    font-family: var(--font-heading-oswald);
    font-weight: 600;
    font-style: 'DemiBold';
    font-size: 63px;
    line-height: 70px;
    letter-spacing: -1.26px;
    color: var(--heading-color);
    text-transform: uppercase;
}

.team-card {
    /* background-color: #f3f3f3; */
    border-radius: 20px;
    padding: 25px 20px;
    transition: all 0.3s ease;
    width: 100%;
}

.team-card img {
    width: 100%;
    max-width: 320px;
    height: auto;
    border-radius: 20px;
    margin-bottom: 20px;
}

.team-card h5 {
    font-family: var(--font-heading-oswald);
    font-weight: 600;
    font-style: 'DemiBold';
    font-size: 26px;
    line-height: 31px;
    letter-spacing: -0.5px;
    color: var(--heading-color);
    text-transform: uppercase;
    margin-bottom: 4px;
}

.team-card p {
    font-family: var(--font-description-plusjakarta);
    font-weight: 400;
    font-style: 'Regular';
    font-size: 19px;
    line-height: 28px;
    color: var(--heading-color);
    margin: 0;
}

.team-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.8);
}

@media (max-width: 426px) {
    .team-section {
        padding: 40px 0px;
        overflow: hidden;
    }

    .team-section .row {
        flex-wrap: nowrap;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
    }

    .team-section .row::-webkit-scrollbar {
        display: none;
    }

    .team-section .col-md-4,
    .team-section .col-lg-3 {
        flex: 0 0 85%;
        max-width: 100%;
        scroll-snap-align: center;
    }

    .team-card {
        background: var(--white-color);
        border-radius: 21px;
        padding: 20px;
        text-align: center;
    }

    .team-card:hover {
        transform: translateY(0px);
        box-shadow: none;
    }

    .team-card img {
        width: 100%;
        border-radius: 21px;
        object-fit: cover;
    }

    .team-card h5 {
        margin-top: 15px;
        font-size: 26px;
        font-weight: 600;
        font-style: 'DemiBold';
        letter-spacing: -0.5px;
        line-height: 32px;color: var(--heading-color);
    }

    .team-card p {
        font-size: 19px;
        font-weight: 400;
        font-style: 'regular';
        line-height: 28px;
        color: var(--heading-color);
        margin-bottom: 0;
    }

    .team-section .our-team-main-small-heading {
        text-align: center;
        font-size: 17px;
        font-weight: 600;
        font-style: 'DemiBold';
        line-height: 17px;
        letter-spacing: 1px;
    }

    .team-section .our-team-main-big-heading {
        width: 330px;
        text-align: center;
        font-weight: 600;
        font-style: 'DemiBold';
        font-size: 40px;
        line-height: 1.2;
        letter-spacing: -1.26px;
        margin-bottom: 30px;
        margin-left: 10%;
    }

    .big-heading-team-main-side{
        color: var(--blue-color);
    }

    /* .team-section .our-team-main-big-heading br{
        display: none;
    } */
}


/* testimonial section */
.card {
    border: none;
    border-radius: 15px;
    background-color: var(--card-color);
}

.testimonals-main-small-heading{
    font-family: var(--font-heading-oswald);
    font-size: 17px;
    line-height: 17px;
    color: var(--blue-color);
    font-weight: 600;
    font-style: 'DemiBold';
    text-transform: uppercase;
}

.testimonals-main-big-heading{
    font-family: var(--font-heading-oswald);
    font-size: 63px;
    line-height: 70px;
    color: var(--heading-color);
    font-weight: 600;
    font-style: 'DemiBold';
    letter-spacing: -1.26px;
    text-transform: uppercase;
    width: 320px;
}

.testimonals-main-description-left{
    font-family: var(--font-description-plusjakarta);
    font-size: 26px;
    line-height: 38px;
    color: var(--heading-color);
    font-weight: 800;
    font-style: 'ExtraBold';
}

.text-dark-blue {
    color: var(--heading-color);
}

.custom-divider {
    position: relative;
}

.custom-divider::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 110%;
    width: 2px;
    background-color: #D7DEDE;
}

.testimonial-text {
    font-size: 25px;
    line-height: 38px;
    color: var(--heading-color);
    font-family: var(--font-description-plusjakarta);
    font-weight: 800;
    width: 590px;
}

.user-avatar {
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 50%;
}

.testimonial-text,
.user-avatar {
    transition: opacity 0.3s ease;
}

.testimonal-card-user-name{
    font-family: var(--font-heading-oswald);
    font-weight: 600;
    font-style: 'DemiBold';
    font-size: 21px;
    line-height: 33px;
    text-transform: uppercase;
    color: var(--heading-color);
}

.testimonal-card-user-position{
    font-family: var(--font-description-plusjakarta);
    font-weight: 400;
    font-style: 'Regular';
    font-size: 19px;
    line-height: 32px;
    color: var(--heading-color);
}

.testimonal-arrow-btn {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 1px solid var(--card-color);
    background-color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: al 0.3s, ease;
}

.testinonal-arrow-right-rotate{
    transform: rotate(180deg);
}

.testimonal-arrow-btn:hover {
    background-color: var(--blue-color);    
}

.testimonal-arrow-btn:hover img {
    filter: brightness(0) invert(1);
}

.testimonal-arrow-left:hover img {
    transform: rotate(360deg);
}

.testimonal-arrow-right:hover img {
    transform: rotate(180deg);
}


/* success journey section */
.success-section {
    height: 500px;
    background: url('../images/success-journey-background.png') center center;
    background-size: cover;
    background-color: var(--background-color);
    background-blend-mode: overlay;
    position: relative;
    border-radius: 15px; 
    overflow: hidden;
    margin: 90px;
}

.success-jouurney-main-headin{
    font-family: var(--font-description-plusjakarta);
    font-weight: 700;
    font-size: 50px;
    line-height: 58px;
    letter-spacing: -1.54px;
    color: var(--white-color);
}

.success-jouurney-main-description{
    font-family: var(--font-description-plusjakarta);
    font-weight: 400;
    font-size: 19px;
    line-height: 32px;
    color: var(--white-color);
}

.container-fluid.h-100 {
    height: 100%;
}

.row.h-100 {
    height: 100%;
}

.glass-input-wrapper {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10.7px);
    border: 3px solid #fff;
    border-radius: 12px;
}

.glass-input {
    background: transparent !important;
    border: none !important;
    color: var(--white-color);
    font-family: var(--font-description-plusjakarta);
    font-size: 14px;
    height: 60px;
}

.glass-input::placeholder {
    color: var(--white-color);
    font-weight: 600;
    font-family: var(--font-description-plusjakarta);
    font-style: 'SemiBold';
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 1px;
}

.btn-subscribe {
    background-color: var(--white-color);
    color: var(--blue-color);
    border-radius: 10px !important;
    font-family: var(--font-heading-oswald);
    font-weight: 600;
    font-style: 'SemiBold';
    font-size: 18px;
    line-height: 18px;
    margin: 5px;
    transition: opacity 0.3s ease;
    opacity: 0.9;
    width: 180px;
    height: 58px;
}

.btn-subscribe:hover {
    opacity: 1;
    background-color: var(--blue-color);
    transform: translateY(-1px);
    box-shadow: 1px 1px 3px 3px;
}

.form-control:focus {
    box-shadow: none;
}

.success-journey-image-meeting{
    width: 590px;
    height: 380px;
    border-radius: 15px;
    border: 3px solid var(--white-color);
}

@media (max-width: 991.98px) {
    .success-section {
        height: auto;
        text-align: center;
    }
}


/* recent posts section */
.post-heading-small{
    font-family: var(--font-heading-oswald);
    font-weight: 600;
    font-style: 'DemiBold';
    font-size: 17px;
    line-height: 17px;
    text-transform: uppercase;
    color: var(--blue-color);
}

.post-heading-big{
    font-family: var(--font-heading-oswald);
    font-weight: 600;
    font-style: 'DemiBold';
    font-size: 63px;
    line-height: 70px;
    text-transform: uppercase;
    color: var(--heading-color);
}

.card-img-top-step{
    border-top-left-radius: 21px;
    border-top-right-radius: 21px;
}

.card-vertical-divider-s{
    width: 2.09px;
    height: 12.47px;
    background-color: var(--heading-color);
}

.card-date-business-step{
    font-family: var(--font-description-plusjakarta);
    font-weight: 400;
    font-style: 'Regular';
    font-size: 17px;
    line-height: 28px;
    color: var(--heading-color);
}

.card-title-step-card-down{
    font-family: var(--font-heading-oswald);
    font-weight: 600;
    font-style: 'DemiBold';
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -0.59px;
    text-transform: uppercase;
    color: var(--heading-color);
}

.card-title-step-card-down-right{
    font-family: var(--font-heading-oswald);
    font-weight: 600;
    font-style: 'DemiBold';
    font-size: 25px;
    line-height: 36px;
    letter-spacing: -0.59px;
    text-transform: uppercase;
    color: var(--heading-color);
}

.btn-link-step {
    font-family: var(--font-heading-oswald);
    font-weight: 600;
    font-style: 'DemiBold';
    font-size: 17px;
    line-height: 21px;
    text-transform: uppercase;
    text-decoration: underline;
    color: var(--blue-color);
}

.btn-link-step:hover {
    color: var(--background-color);
    text-decoration: underline !important;
}

.card-title {
    color: #212529;
}


/* footer section */
.custom-footer {
    background-color: var(--heading-color);
    color: #ccc;
    padding: 40px 0 20px 0;
    font-size: 0.9rem;
    position: relative;
    overflow: hidden;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
}

.custom-footer::before,
.custom-footer::after {
    content: "";
    position: absolute;
    top: 0;
    width: 300px;
    height: 100%;
    pointer-events: none;
    opacity: 1;
}

.custom-footer::before {
    left: 0;
    background-image: url(../images/lines-leftside-footer.png);
    background-repeat: no-repeat;
}

.custom-footer::after {
    right: 0;
    bottom: 0;
    background-image: url(../images/lines-rightside-footer.png);
    background-repeat: no-repeat;
}

.main-heading-footer-text{
    font-family: var(--font-description-plusjakarta);
    font-weight: 500;
    font-style: 'SemiBold';
    font-size: 22px;
    line-height: 30px;
    letter-spacing: -0.64px;
    margin-bottom: 40px;
    color: var(--white-color);
}

.custom-footer li {
    margin-bottom: 13px;
}

.custom-footer a {
    font-family: var(--font-description-plusjakarta);
    font-weight: 400;
    font-style: 'Medium';
    font-size: 16px;
    line-height: 26px;
    color: #E9E9E9;
    text-decoration: none;    
    transition: color 0.3s;
    background-color: #003459;
}

.custom-footer a:hover {
    color: #fff;
}

.footer-address-down{
    font-family: var(--font-description-plusjakarta);
    font-weight: 400;
    font-style: 'regular';
    font-size: 15px;
    line-height: 26px;
    color: #E9E9E9;
    width: 235px;
}

.footer-phone-down{
    font-family: var(--font-description-plusjakarta);
    font-weight: 400;
    font-style: 'regular';
    font-size: 14px;
    line-height: 26px;
    color: var(--white-color);
}

.footer-mail-down{
    font-family: var(--font-description-plusjakarta);
    font-weight: 400;
    font-style: 'regular';
    font-size: 17px;
    line-height: 26px;
    color: var(--white-color);
}

.footer-logo-container {
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.logo-text-footer-down{
    font-family: var(--font-description-plusjakarta);
    font-weight: 400;
    font-style: 'Regular';
    font-size: 14px;
    line-height: 26px;
    color: #f8f8f8;
    width: 315px;
}

.logo-footer-start-top{
    width: 220px;
    height: 90px;
    border-radius: 8px;
}

.logo-blurry-circle {
    position: absolute;
    width: 350px;
    height: 350px;
    background-color: var(--blue-color);
    opacity: 20%;
    border-radius: 50%;
    filter: blur(25px);
    top: 180%;
    left: 30%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.copyright-footer-text{
    font-family: var(--font-description-plusjakarta);
    font-weight: 400;
    font-style: 'Regular';
    font-size: 16px;
    line-height: 31px;
    color: var(--white-color);
}

.footer-text-highlited-copyright{
    font-family: var(--font-description-plusjakarta);
    font-weight: 500;
    font-style: 'Medium';
    font-size: 19px;
    line-height: 32px;
    color: var(--background-color);
}

.icon-circle {
    width: 40px;
    height: 40px;
    background-color: var(--heading-color);
    border-radius: 50%;
    border: 1px solid #FFFFFF80;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-right: 10px;
    transition: filter 0.3s ease;
}

.icon-circle:hover {
    width: 40px;
    height: 40px;
    background-color: var(--blue-color);
}

.footer-text-privacy-terms-down{
    font-family: var(--font-description-plusjakarta);
    font-weight: 200;
    font-style: 'Light';
    font-size: 13px;
    line-height: 25px;
    color: #E9E9E9;   
}

.dashed-line {
    border: none;
    border-top: 1px dashed #E9E9E980;
    margin-top: 30px;
    margin-bottom: 20px;
}

.vertical-divider {
    border-left: 1px solid #E9E9E9;
    width: 1.07px;
    height: 15px;
    margin: 0 15px;
}