@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root{
    --blue-color: #467bff;
    --white-color: #FFFFFF;
    --heading-color: #003459;
    --background-color: #0075FF;
    --card-color: #F5F7F7;
    --font-heading-oswald: 'Oswald';
    --font-description-plusjakarta: 'Plus Jakarta Sans';
}

.top-bar {
    background-color: var(--heading-color);
    color: var(--white-color);
    font-size: 0.8rem;
}

.location-text{
    font-size: 15px;
    font-weight: 400;
    font-style: 'regular';
    font-family: var(--font-description-plusjakarta);
    color: var(--white-color);
}

.navbar-nav .nav-link {
    color: var(--heading-color);
    font-family: var(--font-heading-oswald);
    font-weight: 600;
    font-size: 19px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-right: 15px;
    transition: color 0.3s;
}

.navbar-nav .nav-link:hover {
    color: var(--background-color);
}

.logo-box {
    background-color: var(--bright-blue);
    padding: 10px 30px;
    color: var(--white-color);
    height: 80px;
    margin-left: -12px;
}

.custom-btn {
    width: 190px;
    height: 60px;
    background-color: var(--blue-color);
    color: var(--white-color);
    font-family: var(--font-heading-oswald);
    font-style: 'demibold';
    font-weight: 600;
    font-size: 17px;
    border: none;
    border-radius: 13px;
    padding: 8px 25px;
    transition: all 0.5s;
    margin-right: 10%;
}

.custom-btn:hover {
    background-color: var(--blue-color);
    color: var(--white-color);
    border: 3px solid var(--heading-color);
}


/* hero section */
.hero-section {
    background-color: var(--heading-color);
    height: 700px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.hero-image-container {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.woman-image {
    max-height: 100%;
    object-fit: cover;
    z-index: 1;
}

.hero-heading-text{
    font-family: var(--font-heading-oswald);
    font-weight: 600;
    font-style: 'Demibold';
    font-size: 84px;
    color: var(--white-color);
    line-height: 99px;
    letter-spacing: -2px;
    text-transform: uppercase;    
}

.text-heading-hero{
    font-family: var(--font-heading-oswald);
    font-weight: 600;
    font-style: 'Demibold';
    font-size: 84px;
    color: var(--blue-color);
    line-height: 99px;
    letter-spacing: -2px;
    text-transform: uppercase;
}

.hero-text-description{
    font-family: var(--font-description-plusjakarta);
    font-weight: 400;
    font-style: 'regular';
    font-size: 21px;
    color: var(--white-color);
    line-height: 32px;
}

.custom-btn-hero {
    width: 190px;
    height: 60px;
    background-color: var(--blue-color);
    color: var(--white-color);
    font-family: var(--font-heading-oswald);
    font-style: 'demibold';
    font-weight: 600;
    font-size: 17px;
    border: none;
    border-radius: 13px;
    padding: 8px 25px;
    transition: all 0.5s;
    margin-right: 10%;
}

.custom-btn-hero:hover {
    background-color: var(--heading-color);
    color: var(--white-color);
    border: 3px solid var(--white-color);
}

.stat-card {
    position: absolute;
    background-color: var(--card-bg);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    z-index: 2;
    /* border: 1px solid rgba(255, 255, 255, 0.3);  */
}

.card-left {
    top: 60%;
    left: 15%;
    transform: translate(-40%, 20%);
    width: 225px;
    height: 142px;
    padding: 10px;
}

.stat-title{
    font-family: var(--font-heading-oswald);
    font-weight: 600;
    font-style: 'Demibold';
    font-size: 62px;
    color: var(--white-color);
    line-height: 80px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.stat-subtitle{
    font-family: var(--font-description-plusjakarta);
    font-weight: 200;
    font-style: 'Regular';
    font-size: 16px;
    color: var(--white-color);
    line-height: 32px;
}

.card-right {
    top: 50%;
    right: 5%;
    transform: translate(-40%, 40%);
    width: 220px;
    padding: 10px;
}

/* @media (max-width: 992px) {
    .hero-section {
        height: auto;
        padding: 50px 0;
    }

    .hero-content {
        padding: 0 15px 40px;
    }
    
    .hero-image-container {
        display: none;
    }
} */


/* about us section */
.why-choose-section {
    background-color: white;
}

.small-heading {
    color: var(--blue-color);
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0px;
    font-size: 16px;
    line-height: 16px;
    font-style: 'DemiBold';
    font-family: var(--font-heading-oswald);
}

.main-heading {
    width: 600px;
    font-family: var(--font-heading-oswald);
    color: var(--heading-color);
    font-weight: 600;
    font-size: 63px;
    font-style: 'DemiBold';
    line-height: 70px;
    letter-spacing: -2px;
    margin-left: 28%;
    text-transform: uppercase;
}

.about-heading-part-2{
    color: var(--background-color);
}

.custom-card {
    background-color: var(--card-color);
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
    height: 100%;
}

.card-title {
    color: var(--heading-color);
    font-weight: 600;
    font-family: var(--font-heading-oswald);
    font-size: 30px;
    font-style: 'DemiBold';
    line-height: 36px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.card-text {
    color: var(--heading-color);
    font-size: 19px;
    font-family: var(--font-description-plusjakarta);
    font-weight: 400;
    font-style: 'regular';
    line-height: 32px;
}

.icon-bg {
    background-color: var(--blue-color);
    width: 84px;
    height: 84px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* aboutus section - 2 */
.image-box {
    position: relative;
    background-color: transparent; 
}

.image-box::before {
    content: '';
    position: absolute;
    top: -20px;
    left: -40px;
    width: 50%;
    height: 70%;
    background: linear-gradient(180deg, #467bff, rgba(42, 74, 153, 0));
    border-radius: 20px;
    z-index: -1;
}

.image-box img {
    width: 100%;
    height: auto;
    display: block;
}

.aboutus-2-back{
    width: 600px;
    height: 660px;
}

.overlay-card {
    width: 330px;
    height: 220px;
    position: absolute;
    bottom: 40px;
    left: 42%;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.98); 
}

.about-text-small-2{
    font-family: var(--font-heading-oswald);
    font-weight: 600;
    font-style: 'DemiBold';
    font-size: 17px;
    line-height: 17px;
    text-transform: uppercase;
    color: var(--blue-color);
}

.about-text-large-2{
    width: 490px;
    height: auto;
    font-family: var(--font-heading-oswald);
    font-weight: 600;
    font-style: 'DemiBold';
    font-size: 62px;
    line-height: 70px;
    text-transform: uppercase;
    color: var(--heading-color);
}

.about-text-large-2-2{
    color: var(--blue-color);
}

.about-description-222{
    width: 520px;
    /* height: auto; */
    font-family: var(--font-description-plusjakarta);
    font-weight: 400;
    font-style: 'Regular';
    font-size: 19px;
    line-height: 32px;
    color: var(--heading-color);
}

.button-aboutus-part-22{
    width: 210px;
    height: 68px;
    background-color: #003459;
    color: var(--white-color);
    border-radius: 13px;
    font-family: var(--font-heading-oswald);
    font-weight: 600;
    font-style: 'DemiBold';
    font-size: 17px;
    line-height: 17px;
    text-transform: uppercase;
    border: none;
}

.button-aboutus-part-22:hover {
    background-color: var(--white-color);
    color: var(--heading-color);
    border: 4px solid var(--heading-color);
}


/* aboutus section 3 */
.aboutus-3-sec{
    background-color: var(--card-color);
    border-radius: 21px;
    color: #003459;
}

.aboutus-sec-3-number{
    font-family: var(--font-heading-oswald);
    font-weight: 600;
    font-style: 'DemiBold';
    font-size: 83px;
    line-height: 90px;
    text-transform: uppercase;
}

.aboutus-sec-3-plus{
    color: var(--blue-color);
}

.aboutus-sec-3-small-heading{
    font-family: var(--font-heading-oswald);
    font-weight: 600;
    font-style: 'DemiBold';
    font-size: 26px;
    line-height: 32px;
    letter-spacing: -0.5px;
    text-transform: uppercase;
    color: var(--heading-color);
}

.aboutus-sec-3-small-description{
    font-family: var(--font-description-plusjakarta);
    font-weight: 400;
    font-style: 'Regular';
    font-size: 19px;
    line-height: 32px;
    color: var(--heading-color);
}

.stat-item {
    position: relative;
}   

.stat-item::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 160px;
    width: 2px;
    background-color: #D7DEDE;
}

.stat-item:last-child::after {
    display: none;
}

.stat-item .text-center {
    text-align: center !important;
}